/** @format */
:root {
  --primary-color: #0a192f;
  --green: #71f3da;
  --private-color: #ccd6f6;
  --public-font: #8892b0;
  --border-radius: 4px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 35px;
  --fz-heading: 32px;
  --lightest-slate: #ccd6f6;
  --lightest-navy: #233554;

  --green-tint: rgba(100, 255, 218, 0.1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.green {
  color: var(--green);
}
body {
  background-color: var(--primary-color);
}
h1 {
  font-family: "Inter", sans-serif;
  color: var(--private-color);
  font-weight: bold;
}
h2 {
  font-family: "Inter", sans-serif;
  color: var(--public-font);
  font-weight: bold;
}
p {
  font-family: "Inter", sans-serif;
  max-width: 560px;
  margin-top: 22px;
  color: var(--public-font);
  font-size: 14px;
  font-weight: 300;
  font-size: var(--fz-xl);
  line-height: 1.3;
}
section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

.eEjAsd {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  transition: all 0s ease-in;
}
.hello {
  color: var(--green);
  font-family: "Fira Mono", monospace;
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  line-height: 17.6px;
}
.fade-up--get-in-touch {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 30px;
  font-family: "Fira Code", monospace;
}
.fade-up--get-in-touch:hover {
  background-color: var(--green-tint);
}
.big-heading {
  margin: 0px;
  font-size: clamp(36px, 5vw, 65px);
}
@media (max-width: 557px) {
  body {
    font-size: var(--fz-lg);
  }
  p {
    font-size: var(--fz-sm);
    max-width: 500px;
  }
  .big-heading {
    font-size: var(--fz-xxl);
  }
  .eEjAsd {
    margin-left: 4vh;
    margin-right: 4vh;
  }
  .hello {
    font-size: var(--fz-sm);
  }
}

@media (max-width: 1111px) {
  .eEjAsd {
    margin-left: 4vh;
    margin-right: 4vh;
  }
  p {
    font-size: var(--fz-md);
    max-width: 498px;
  }
  .numbered-heading::after {
    width: 200px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
@media (max-width: 480px) {
  section {
    padding: 40px 0px;
  }
}
@media (max-width: 768px) {
  section {
    padding: 80px 0px;
  }
  .numbered-heading::after {
    width: 100%;
  }
}
.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 4vw, var(--fz-heading));
  white-space: nowrap;
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}
.numbered-heading::before {
  position: relative;
  bottom: 4px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  font-family: "Inter", sans-serif;
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md), 2vw, var(--fz-xl));
  font-weight: 400;
}
.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}
.huabVa .project-overline {
  margin: 10px 0px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  font-weight: 400;
}
.dnNJYD a {
  position: relative;
  z-index: 1;
}
.huabVa:nth-of-type(2n + 1) .project-content {
  grid-column: 7 / -1;
  text-align: right;
}
