/** @format */
:root {
  --navy: #0a192f;
  --border-radius: 4px;
  --primary-color: #0a192f;
  --green: #71f3da;
  --private-color: #ccd6f6;
  --public-font: #8892b0;
  --head-color: #a3aecc;
  --border-radius: 4px;
  --fz-xxs: 12px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --light-slate: #a8b2d1;
  --light-navy: #112240;
  --fz-xxl: 35px;
  --fz-heading: 32px;
  --fz-heading2: 29px;
  --lightest-slate: #ccd6f6;
  --lightest-navy: #233554;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --green-tint: rgba(100, 255, 218, 0.1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --slate: #8892b0;
}
.green {
  color: var(--green);
}

body {
  background-color: var(--primary-color);
  counter-reset: section;
  line-height: 1.3;
  color: var(--slate);
}
h1 {
  font-family: "Inter", sans-serif;
  color: var(--private-color);
  font-weight: bold;
}
h2 {
  font-family: "Inter", sans-serif;
  color: var(--public-font);
  font-weight: bold;
}

p {
  font-family: "Mukta", sans-serif;
  max-width: 580px;
  margin-top: 22px;
  color: var(--public-font);
  font-weight: 300;
  font-size: var(--fz-xl);
  line-height: 1.3;
}
section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}
a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

:focus {
  outline: 2px dashed var(--green);
  outline-offset: 3px;
}

.eEjAsd {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  transition: all 0s ease-in;
}
.hello {
  color: var(--green);
  font-family: "Fira Mono", monospace;
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  line-height: 17.6px;
}
.fade-up--get-in-touch {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 30px;
  font-family: "Fira Code", monospace;
}
.fade-up--get-in-touch:hover {
  background-color: var(--green-tint);
}
.big-heading {
  margin: 0px;
  font-size: clamp(36px, 5vw, 65px);
}

@media (max-width: 557px) {
  body {
    font-size: var(--fz-lg);
  }
  p {
    font-size: var(--fz-lg);
    max-width: 500px;
  }
  .big-heading {
    font-size: var(--fz-xxl);
  }
  .eEjAsd {
    margin-left: 16vh;
    margin-right: 16vh;
  }
  .hello {
    font-size: var(--fz-sm);
  }
  .numbered-heading {
    margin: 10px 0px 140px;
  }
}

@media (max-width: 1111px) {
  .eEjAsd {
    margin-left: 4vh;
    margin-right: 4vh;
  }

  .numbered-heading::after {
    width: 200px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
@media (max-width: 480px) {
  section {
    padding: 40px 0px;
  }
}
@media (max-width: 768px) {
  section {
    padding: 80px 0px;
  }
  .numbered-heading::after {
    width: 100%;
  }
}
.numbered-heading {
  color: var(--head-color);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: -5px 0px 140px;
  width: 100%;
  font-size: clamp(17px, 2vw, var(--fz-heading2));
  white-space: nowrap;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  line-height: 1.1;
}
.numbered-heading::before {
  position: relative;
  margin-bottom: -4.5px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(17px, 2vw, var(--fz-xl));
  margin-left: 24px;

  font-weight: 600;
}
.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 12px;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}
.project-content {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}
.huabVa:nth-of-type(2n + 1) .project-content {
  grid-column: 7 / -1;
  text-align: right;
}
.huabVa .project-overline {
  margin: 10px 0px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  font-weight: 400;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  padding: 1px 12px;
}
.dnNJYD {
  list-style: none;
  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
.huabVa {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}
.huabVa a:hover {
  color: var(--green);
  cursor: pointer;
}

.greeniconcolor:hover {
  color: var(--green);
}
.huabVa .project-title {
  color: var(--lightest-slate);
  font-size: clamp(24px, 5vw, 28px);
}
.huabVa .project-description {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  position: relative;
  z-index: 2;
  margin-top: 15px;
  padding: 10px 40px;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  color: var(--lightest-slate);
  font-size: var(--fz-md);
}

.huabVa .project-image {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}

.huabVa .project-image a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  transition: var(--transition);
  background-color: var(--navy);
  mix-blend-mode: screen;
}
img {
  aspect-ratio: auto 700 / 437;
  transition: all 0.75s ease-in;
}

.project-image img {
  filter: grayscale(50%) saturate(0.25) opacity(1) brightness(65%)
    contrast(100%) hue-rotate(253deg);
  -webkit-filter: grayscale(50%) saturate(0.25) opacity(1) brightness(65%)
    contrast(100%) hue-rotate(253deg);
}

a:hover img {
  filter: none !important;
}
.huabVa:nth-of-type(2n + 1) .project-image {
  grid-column: 1 / 8;
}

.huabVa:nth-of-type(2n + 1) .project-tech-list {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.huabVa .project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}
.huabVa .project-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
  color: var(--lightest-slate);
}
.huabVa:nth-of-type(2n + 1) .project-links {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
  margin-right: 12px;
  margin-top: 18px;
}
.bNXWUU {
  max-width: 900px;
}

@media (max-width: 768px) {
  .huabVa:nth-of-type(2n + 1) .project-content {
    grid-column: 1 / -1;
    padding: 30px 40px 30px;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .huabVa .project-content {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    grid-column: 1 / -1;
    padding: 30px 40px 30px;
    z-index: 5;
  }
}
@media (max-width: 768px) {
  .huabVa:nth-of-type(2n + 1) .project-links {
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-left: 1px;
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  .huabVa:nth-of-type(2n + 1) .project-tech-list {
    -webkit-box-pack: start;
    justify-content: flex-start;
    font-size: var(--fz-sm);
  }
}
@media (max-width: 768px) {
  .huabVa .project-tech-list {
    margin: 10px 0px;
    font-size: var(--fz-sm);
  }
}
@media (max-width: 768px) {
  .greeniconcolor {
    font-size: 17px;
    margin-left: 0px;
    padding: 2px;
  }
}
@media (max-width: 1000px) {
  .bNXWUU {
    margin-left: 4vh;
    margin-right: 4vh;
  }
}
@media (max-width: 1000px) {
  ul.skills-list li {
    font-size: var(--fz-sm);
  }
}
@media (max-width: 768px) {
  .bNXWUU div {
    width: 100%;
  }
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}
ul.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}
ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 12px;
}

.iTdkQf {
  position: relative;
  max-width: 300px;
  margin-left: 35px;
}

.iTdkQf img {
  width: 400px;
  filter: grayscale(50%) saturate(0.25) opacity(1) brightness(65%)
    contrast(100%) hue-rotate(253deg);
  -webkit-filter: grayscale(50%) saturate(0.25) opacity(1) brightness(65%)
    contrast(100%) hue-rotate(253deg);
  margin-top: 30px;
  height: 450px;
  transition: all 0.15s ease-in;
}
.iTdkQf img:hover {
  filter: none !important;
}
.iTdkQf .wrapper::after {
  border: 2px solid var(--green);
  top: 15px;
  left: 20px;
  z-index: -1;
}
.iTdkQf .wrapper:hover:after {
  border: 2px solid var(--green);
  top: 18px;
  left: 22px;
  z-index: -1;
  height: 99%;
  width: 98%;
}

.iTdkQf .wrapper::before,
.iTdkQf .wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.eXnPVF {
  max-width: 600px;
  text-align: center;
  margin-top: 135px;
}
.eXnPVF .overline {
  display: block;
  margin-bottom: 20px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  font-weight: 400;
}
.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
}
.eXnPVF .overline::before {
  bottom: 0px;
  font-size: var(--fz-sm);
  margin-left: -28px;
}
.eXnPVF .numbered-heading::after {
  background-color: var(--navy);
}
.eXnPVF .title {
  font-size: clamp(35px, 5vw, 40px);
}
h1,
h3,
.eXnPVF h2,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}
.eXnPVF .email-link {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 50px;
}
.eXnPVF .email-link:hover {
  background-color: var(--green-tint);
}
@media (max-width: 1111px) {
  .eXnPVF p {
    text-align: center;
    margin-top: 45px;
  }
}
@media (max-width: 768px) {
  .eXnPVF {
    margin-left: 4vh;
    margin-right: 4vh;
  }
}
.hOvuuP {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--light-slate);
  font-size: 20px;
  transition: all 0.5s ease-out;
}
.hOvuuP li:hover {
  color: var(--green);
  font-size: 22px;
  margin-bottom: 2px;
}
.dVLQAC::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}
.dVLQAC {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.jJFfEJ {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.jSIwrL {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--light-slate);
}
.jJFfEJ::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}
.jJFfEJ a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.jJFfEJ a:hover {
  color: var(--green);
  margin: 25px auto;
}
