/** @format */
:root {
  --primary-color: #0a192f;
  --green: #71f3da;
  --private-color: #ccd6f6;
  --public-font: #8892b0;
  --border-radius: 4px;
  --fz-sm: 11px;
  --green-tint: rgba(100, 255, 218, 0.1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
body {
  background-color: var(--primary-color);
}
h1 {
  font-family: "Inter", sans-serif;
  color: var(--private-color);
  font-size: 42px;
  margin-left: 176px;
  font-weight: bold;
}
h2 {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  margin-left: 176px;
  color: var(--public-font);
  font-weight: bold;
}
p {
  font-family: "Inter", sans-serif;
  max-width: 400px;
  margin-top: 22px;
  margin-left: 176px;
  color: var(--public-font);
  font-size: 14px;
  font-weight: 200;
}
.hello {
  color: var(--green);
  font-family: "Fira Mono", monospace;
  font-size: 13px;
  line-height: 17.6px;
  margin-top: 150px;
  margin-left: 176px;
}
.fade-up--get-in-touch {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1rem 1.5rem;
  font-size: var(--fz-sm);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 30px;
  font-family: "Fira Code", monospace;
  margin-left: 176px;
}
.fade-up--get-in-touch:hover {
  background-color: var(--green-tint);
}
